.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content.modal__content_type_image {
    height: 610px;
    padding: 0;
    background-color: #fff;
}

.modal__content_image {
    max-width: 498px;
    max-height: 498px;
    overflow: hidden;
    border-radius: 20px 20px 0 0; 
}

.modal__footer {
    padding: 10px 0 10px 20px;
}

.modal__caption, .modal__weather {
    font-size: 20px;
}
